<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>To-do List</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1>To-do List</h1>
  <div class="wrapper">
    <form class="" action="/addTodo" method="post">
      <input type="text" name="description" value="" placeholder="Add a todo">
      <button type="submit" name="button">Add todo</button>
    </form>
    <ul>
      {{#uncompleted}}
        <li>
          <form class="" action="/markComplete" method="post">
            <button type="submit" name="id" value="{{id}}">Mark Complete</button> {{description}}
          </form>
        </li>
      {{/uncompleted}}
    </ul>

    <h1>Completed Tasks</h1>
    <ul>
      {{#completed}}
        <li>{{description}}</li>
      {{/completed}}
    </ul>
    <!-- end of wrapper div -->
  </div>
</body>

</html>
