<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To-do List</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>To-do List</h1>
    <div class="wrapper">
      {{todos}}
      <!-- end of wrapper div -->
    </div>
  </body>
</html>
